Covid19/pipeline/p_copy_file_2.json
{
	"name": "p_copy_file_2",
	"properties": {
		"activities": [
			{
				"name": "v_file_check",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "src_population_ds",
						"type": "DatasetReference"
					},
					"timeout": "0.00:02:00",
					"sleep": 10
				}
			},
			{
				"name": "get_file_meta_data",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "v_file_check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "src_population_ds",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "if_check_col_cnt",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get_file_meta_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('get_file_meta_data').output.columnCount,13)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "fail_msg",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "File issue",
								"errorCode": "File has more columns"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "cp_file_task_1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.08:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "src_population_ds",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "tgt_population_ds",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete_src_file",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "cp_file_task_1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "src_population_ds",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "src_blob_conn",
										"type": "LinkedServiceReference"
									},
									"path": "logs"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-03-20T13:40:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}