Covid19/pipeline/p_emp_scd1_audit3.json
{
	"name": "p_emp_scd1_audit3",
	"properties": {
		"activities": [
			{
				"name": "df_emp_type1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_emp_type1",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Stored procedure1_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_audit_pipeline]",
					"storedProcedureParameters": {
						"end_dt": {
							"value": {
								"value": "@{formatDateTime(variables('end_dt'),'yyyy-MM-dd HH:mm:ss')}",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"p_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"start_dt": {
							"value": {
								"value": "@{formatDateTime(variables('st_dt'),'yyyy-MM-dd HH:mm:ss')}",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"status": {
							"value": "FAILED",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "st_dt",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "df_emp_type1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "end_dt",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1_copy1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "df_emp_type1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "end_dt",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure1_copy1_copy1",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_audit_pipeline]",
					"storedProcedureParameters": {
						"end_dt": {
							"value": {
								"value": "@{formatDateTime(variables('end_dt'),'yyyy-MM-dd HH:mm:ss')}",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"p_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"start_dt": {
							"value": {
								"value": "@{formatDateTime(variables('st_dt'),'yyyy-MM-dd HH:mm:ss')}",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"status": {
							"value": "SUCCESS",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ScriptPROC",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set variable1_copy1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "exec sp_audit_pipeline @p_name='@{pipeline().Pipeline}', @p_id='@{pipeline().RunId}',@status='SUCCESS', @start_dt= '2025-04-08 12:31:18',@end_dt='2025-04-08 13:39:18'\n\n\n\n\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00",
					"logSettings": {
						"logDestination": "ExternalStore",
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"path": "logs"
						}
					}
				}
			}
		],
		"variables": {
			"st_dt": {
				"type": "String"
			},
			"end_dt": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-04-08T14:33:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}